---
import LinkButton from "../components/LinkButton.astro";
import Base from "../layouts/Base.astro";
import Focus from "../layouts/Focus.astro";
const user = Astro.locals.user;

if (!user) {
    return Astro.redirect("/login");
}
---

<Base>
    <Focus>
        <h1 class="text-xl">Capture the web!</h1>
        <h1>Hi, {user.username}!</h1>
        <LinkButton to="/new">Let's go</LinkButton>
    </Focus>
</Base>
